.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    transition: background 0.12s ease-in-out;
    flex-shrink: 0;
    box-sizing: border-box;
}

.button:hover {
    background: rgba(255, 255, 255, 0.055);
}

body[data-input-source="keyboard"] .button:focus,
body[data-input-source="gamepad"] .button:focus {
    background: #fff;
    padding: 0;
}

body[data-input-source="keyboard"] .button:focus img,
body[data-input-source="gamepad"] .button:focus img {
    filter: invert(1);
}

.button img {
    display: block;
    width: 24px;
    height: 24px;
}