.container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  background: var(--ib-bg, #212122);
}

.container:hover {
  cursor: pointer;
  background: #3d3d3d;
  outline: unset;
}

.container:hover .icon {
  filter: none;
}

.container:focus-visible {
  background: var(--ib-bg-focus, #fff);
  outline: unset;
}

.container:focus-visible .icon {
  filter: var(--ib-icon-filter-focus, brightness(0) saturate(100%));
}

/* shape */
.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 8px;
}

/* variants */
.solid {
  --ib-bg: #212122;
}

.ghost {
  --ib-bg: rgba(255, 255, 255, 0.065);
}

.none {
  --ib-bg: transparent;
}

.none:hover {
  background: #3d3d3d;
}

.none:hover .icon {
  filter: none;
}

.none:focus-visible {
  background: rgba(255, 255, 255, 0.055);
}

.none:focus-visible .icon {
  filter: none;
}

body[data-input-source="keyboard"] .none:focus,
body[data-input-source="gamepad"] .none:focus {
  background: #fff !important;
}

body[data-input-source="keyboard"] .none:focus .icon,
body[data-input-source="gamepad"] .none:focus .icon {
  filter: invert(1);
}

.icon {
  width: calc(100% - (var(--ib-inset) + var(--ib-inset)));
  height: calc(100% - (var(--ib-inset) + var(--ib-inset)));
  margin: var(--ib-inset);
  display: block;
  object-fit: contain;
}
