.sideBarButton {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    border-left: transparent 2px solid;
    transition: border-left 0.3s;
}

.sideBarButton:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.055);
}

.sideBarButton.selected {
    background: #FFFFFF;
}

.sideBarButton .icon {
    height: 24px;
    width: 24px;
    margin-left: 12px;
    opacity: 1.0;
    border-radius: 100px;

    transition: margin-left 0.3s;
}

.sideBarButton.selected .icon {
    opacity: 1.0;
}

.sideBarButton .text {
    font-weight: 400;
    font-size: 14px;
    margin-left: 12px;
    line-height: 24px;
    transition: opacity 0.3s ease;
    opacity: 1;
    color: #BFBFBF;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.sideBarButton.selected .text {
    color: #1B1B1B;
}

.sideBarButton.collapsed .text {
    opacity: 0;
}