.container {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border-radius: 26px;
    background: var(--pill-bg, #2E2E2E);

    padding-left: 16px;
    padding-right: 16px;
}

.container:hover {
    cursor: pointer;
    background: var(--pill-bg-hover, #3D3D3D);
    outline: unset;
}

.container:active {
    background: var(--pill-bg-pressed, #242424);
}

.container:focus-visible {
    background: var(--pill-bg-hover, #3D3D3D);
    outline: unset;
}

body[data-input-source="keyboard"] .container:focus,
body[data-input-source="gamepad"] .container:focus {
    background: #fff !important;
}

body[data-input-source="keyboard"] .container:focus .icon,
body[data-input-source="gamepad"] .container:focus .icon {
    filter: brightness(0) saturate(100%);
}

body[data-input-source="keyboard"] .container:focus .text,
body[data-input-source="gamepad"] .container:focus .text {
    color: #141414;
}

.icon {
    width: 24px;
    height: 24px;
}

.text {
    color: var(--pill-text, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 2px;
}
